<div class="container">
  <h2>{{title}}</h2>
  <p><strong>Note:</strong> The <strong>data-parent</strong> attribute makes sure that all collapsible elements under
    the specified parent will be closed when one of the collapsible item is shown.</p>
  <div id="accordion">
    <div class="card">
      <div class="card-header">
        <a class="card-link" data-toggle="collapse" href="#collapseOne">
          Collapsible Group Item #1
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-parent="#accordion">
        <div class="card-body">
            <button (click)="closeComponentTab()">
                <span>CerrarComponente</span>
              </button>
              <hr/>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
          Collapsible Group Item #2
        </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
          Collapsible Group Item #3
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body mat-elevation-z8">
          <mat-table [dataSource]="dataSource1">

            <ng-container matColumnDef="number">
              <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="#">{{row.number}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="title">
              <mat-header-cell *matHeaderCellDef>Title</mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="Title">{{row.title}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="state">
              <mat-header-cell *matHeaderCellDef>State</mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="State">{{row.state}}</mat-cell>
            </ng-container>


            <ng-container matColumnDef="created">
              <mat-header-cell *matHeaderCellDef>Created</mat-header-cell>
              <mat-cell *matCellDef="let row" data-label="Created">{{row.created_at | date}}</mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>

          <app-paginator [length]="setLenght" [pageSize]="setPageSize" [showOption]="setShowVisible"
            (refreshData)="refreshData($event)" [dataSourceP]="setConsulta" [dataInput]="'datos de entrada'"></app-paginator>
        </div>
      </div>
    </div>
  </div>
</div>