<h1>
  Bienvenido a la Bandeja de Tramites
</h1>
<div class="contenido">
<mat-table [dataSource]="tramites"  class="mat-elevation-z8">
    
     <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id. </mat-header-cell>
        <mat-cell *matCellDef="let tramites"> 
          {{tramites.id}} 
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="nombres">
          <mat-header-cell mat-header-cell *matHeaderCellDef> Nombres </mat-header-cell>
          <mat-cell *matCellDef="let tramites"> 
            {{tramites.nombres}} 
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="fecha">
            <mat-header-cell *matHeaderCellDef>Fecha </mat-header-cell>
            <mat-cell *matCellDef="let tramites"> 
              {{tramites.fecha}} 
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef>Acciones </mat-header-cell>
              <mat-cell *matCellDef="let tramites"> 
                  <button (click)="consultar()">Detalle</button>
              </mat-cell>
          </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let tramites; columns: displayedColumns;"></mat-row>

</mat-table>
<cc-spiner-procesar></cc-spiner-procesar>

</div>  

